<!-- game.html -->
<main id="mainElement">
    <div class="lightRace">
        <div class="trait-Noir"></div>
        <div class="light-container">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
        </div>
        <div class="light-container">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
        </div>
        <div class="light-container">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
        </div>
        <div class="light-container">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
        </div>
        <div class="light-container">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
        </div>
    </div>
    <p class="fs-4 mt-4 mb-0">
        Tap/click when you're ready to race, then tap again when the lights go out.
    </p>

    <div class="resultat fw-semibold">
        <div class="temps">00.000</div>
        <div class="bestSection">
            Your best: <span class="bestTime">00.000</span>
        </div>
    </div>
</main>

